h1{
    color: blue;
    text-align: center;
     background: linear-gradient(to right, rgb(0, 0, 0), gray)
}

h2{
    color: cadetblue
}


ol{
    color: red;
}


.col1{
    color: black;
}


a{
    color: red;
}

.fotito2 {
  height: 200px;
}

body{
    background-color: rgb(117, 90, 0);
}
