.fotito3{
    text-align: center;
     background: linear-gradient(to right, rgb(54, 46, 46), rgb(192, 20, 20))
}

body{
    background: linear-gradient(to right, rgb(54, 46, 46), rgb(192, 20, 20))
}
